* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //   color: rgb(189, 26, 26);
  max-height: 100vh;
}

body {
  font-family: "Lato", sans-serif;
}

h3,
h4 {
  font-weight: 400;
  color: rgb(107, 107, 107);
}

h1,
h2,
h3 {
  color: rgb(54, 54, 54);
}

.App {
  transition: all 0.5s ease;
}

@media screen and (min-width: 768px) {
  .library-active {
    margin-left: 200px;
    // transform: translateX(200px);
  }
}

@import "./player";
@import "./surah";
@import "./library";
@import "./nav";
@import "./option";
@import "./game";
